@font-face {
    font-family:'PermanentMarker-Regular';
    src: url(../cssBayan/fonts/PermanentMarker-Regular.ttf);
}

body {
    margin: 0px;
    background-image: url(../cssBayan/images/5506002.jpg);
    background-size: cover;
}

.mainBlock {
    width: 500px;
    height: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(247, 193, 254);
    font-family:'PermanentMarker-Regular'
}